#carta{
    max-width: 50%;
    float: center;
    margin: 20px;
    background: white;
    margin-left: 25%;
    border: 0px;
}
h4{
    color: #23374d;
    font-weight: bold;
}
#Ubi{
    font-weight: bold;
}