.cont{
    width: 50%;
}
#map {
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }